# Ignore IDE and editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Vim tags
tags

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/
*.env

# IDE
.vscode/
.idea/

# Compiled files
*.pyc
*.pyo
*.pyd

# Logs and databases
*.log
*.sqlite3

# Dependency directories
lib/
lib64/

# Documentation
_build/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

.DS_Store

# tests on private data
tests/tests_private/
